
<div class="buttons">
<button mat-raised-button color="primary" (click)="selectCategory('Course')" >Course</button>
<button mat-raised-button color="primary" (click)="selectCategory('General')">General</button>
<button mat-raised-button color="primary" (click)="selectCategory('Laboratory')">Laboratory</button>
<button mat-raised-button color="primary" (click)="selectCategory('All')">All</button>
<button class="btn btn-success btn-lg" routerLink="/add">New Post</button>
<button class="btn btn-danger btn-lg" (click)="clearList()" routerLink="">Clear</button>
</div>