<div class="app-container">
  <form class="my-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input name="title"type="text" matInput placeholder="title.." [(ngModel)]="title" >
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Author</mat-label>
      <input name="author" type="text" matInput placeholder="author.." [(ngModel)]="author">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Image</mat-label>
        <textarea name="imageURL" type="URL" matInput placeholder="imageURL.." [(ngModel)]="imageURL"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select>
            <mat-option *ngFor="let cat of categories" [value]="cat" #category >
            {{cat}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea name="message" type="text" matInput placeholder="message.." [(ngModel)]="message"></textarea>
      </mat-form-field>

      <div class="row">
        <div class="col-3">
          <button  name="submit" class="btn btn-lg btn-primary" type="submit" (click)="onAddAnnouncement()">Add </button>
          
        </div>
        <div class="col-3">
         
          <button name="cancel" class="btn btn-lg btn-danger"  (click)="canExit()" routerLink="/">Cancel</button>
        </div>
        <p *ngIf="formFilled">Announcement added!</p>
      </div>
  </form>
  
</div>